/* css styles */

/*--------------------------------------------------------------------------*/
/* formatting for navbar */

/* Increase the height of the navbar */
.navbar {
    top: 0;
    left: 0;
    right: 0;
    height: 1in;
    width: 100%;
    display: flex;
    background-color: rgba(84, 177, 204, 1);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-logo {
    height: 60px !important;
    width: auto !important;
    max-height: none !important;
    margin-left: 0;
}

/* Adjust the website title text and logo container */
.navbar .navbar-brand {
    font-size: 24px;
}

/* Add spacing between navbar links */
.navbar .navbar-nav .nav-link {
    margin-right: 15px; /* Adjust this value as needed */
}

/* Set the color of the website title text and navbar links */
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: white;
}

/* Change text color on hover */
.navbar .navbar-nav .nav-link:hover {
    color: gray;
}

/* Ensure the text color and background color apply properly */
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    text-decoration: none;
}

/* Align the dropdown menu itself to the right */
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background-color: rgba(84, 177, 204, 0.9);
    padding: 10px; /* Add some padding around the links */
    border-radius: 5px;
}


/*--------------------------------------------------------------------------*/
/* formatting for footer */

/* Center the footer text */
.page-footer {
    color: white;
    text-align: center; /* Center the text */
    padding: 10px;
}

/*--------------------------------------------------------------------------*/
/* formatting for our lab and alumni page */

.centered-content {
  margin: 15%;
  margin-top: 100px;
  margin-bottom: 25px;
  clear: both;
}

.member-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between members */
}

.member-container.reversed {
    flex-direction: row-reverse;
}

.main-column {
    flex: 2;
    padding: 10px;
}

.side-column {
    flex: 1;
    padding: 10px;
}

/* Style for the image */
.member-image {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
}

/* Ensure text is well formatted */
.member-info h2 {
    margin-top: 0;
}

/* Custom styles for the "Our Lab" page */
.page-layout.full .main-container {
    display: block;
    max-width: none;
    padding: 0;
    margin: 0;
}

.page-layout.full .sidebar-container, 
.page-layout.full .margin-container {
    display: none;
}


/*--------------------------------------------------------------------------*/
/* FISHSCAPE page */ 

.FISHSCAPE-header {
    background-image: url("images/fishscape_header.gif");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: ;
    justify-content: right;
    padding: 60px;
    color: white; /* Text color on top of the image */
    text-align: center;
    position: relative;
    margin-top: 0;
}

.fishscape-text h1{
  font-size: 3rem;
}

#Fishscape {
float: left;    
 margin: 0 15px 0 0;
}

#drones {
  float: right;
  margin: 0 0 0 15px;
}

#fishscape2  {
  display: block;
 margin: 0 auto;
 max-width: 100%;
}

#fishscape3 {
float: left;    
 margin: 0 15px 0 0;
}

#stable-isotope  {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

#fishscape-funding1  {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

.centered-text {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*---------------------------------------------------------------------------*/
/* Biscayne Bay page*/

.header-BB {
    background-image: url("images/Panorama_Seine.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: flex-end;
    padding: 60px;
    color: white; /* Text color on top of the image */
    text-align: left;
    position: relative;
    margin-top: 0;
}

.BB-text h1{
  font-size: 3em;
}

#BB1  {
  float: right;    
  margin: 0 0 0 15px;
}

#BB2  {
  float: left;    
  margin: 0 15px 0 0;
}

#BB3  {
  float: left;    
  margin: 0 15px 0 0;
}

#BB4  {
  float: right;    
  margin: 0 0 0 15px;
}

#BBfunding {
 display: block;
 margin: 0 auto 25px auto;
 max-width: 100%;
}

/*--------------------------------------------------------------------------*/
/* El Yunque Page */

.header-LUQ {
    background-image: url("images/elyunque_header.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: flex-start;
    padding: 60px;
    color: white; /* Text color on top of the image */
    text-align: left;
    position: relative;
    margin-top: 0;
}

.LUQ-text h1{
  font-size: 3em;
  max-width: 600px;
}

#Luquillo1 {
float: right;    
 margin: 0 0 0 15px;
}

#Luquillo2  {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

#Luquillo3 {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

.image-container-shrimp {
    display: flex;              /* Enable flexbox layout */
    justify-content: center;     /* Center the images horizontally */
    align-items: center;         /* Center the images vertically (if necessary) */
    gap: 20px;                   /* Optional: adds space between the images */
}


.image-container img {              
    height: auto;                /* Maintain the aspect ratio of the images */
}

#luquillofunding {
 display: block;
 margin: 0 auto 25px auto;
 max-width: 100%;
}

/*--------------------------------------------------------------------------*/
/* Culebra Page */

.Culebra-header {
    background-image: url("images/culebra_header.gif");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: flex-start;
    padding: 60px;
    color: white; /* Text color on top of the image */
    text-align: left;
    position: relative;
    margin-top: 0;
}

.culebra-text h1{
  font-size: 3em;
}

.culebra-intro {
  text-align: center;
  margin: 8%;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1em;
  padding: 0px;
}

#Culebra1  {
  float: right;    
  margin: 0 0 0 15px;
}

#Culebra2  {
  float: left;    
  margin: 0 15px 0 0;
}

#culebra3  {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}


.image-container-urchin {
    display: flex;              /* Enable flexbox layout */
    justify-content: center;     /* Center the images horizontally */
    align-items: center;  /* Center the images vertically (if necessary) */
    gap: 15px;                   /* Optional: adds space between the images */
    margin: 0 0 200px 0;
}

#culebra4  {
  float: right;    
  margin: 0 0 0 15px;
}

.image-container-culebra {
    display: flex;              /* Enable flexbox layout */
    justify-content: center;     /* Center the images horizontally */
    align-items: center;         /* Center the images vertically (if necessary) */
    gap: 15px;                   /* Optional: adds space between the images */
    margin: 0 100px 50px 100px;
}


.image-container-culebra img {
    display: block;            /* Ensure images are treated as block-level elements */
    max-width: 15%;           /* Ensure images don't overflow their container */
    height: auto;              /* Maintain aspect ratio */
}

#habitat-blueprint {
    max-width: 30%; /* Make this image larger */
}


/*--------------------------------------------------------------------------*/
/* Coastal Fisheries research page */ 

.fisheries-header {
    background-image: url("images/rehage-header.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: flex-start;
    padding: 60px;
    color: white; /* Text color on top of the image */
    text-align: left;
    position: relative;
    margin-top: 0;
}

.centered-logo {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}


/*--------------------------------------------------------------------------*/
/* Rolo's Page */ 

.centered-content-rolo {
  font-size: 22px;
  margin: 15%;
  margin-top: 100px;
  margin-bottom: 25px;
}

#rolo1 {
float: right;    
 margin: 0 0 0 15px;
}

#rolo2 {
  float: left;
  margin: 0 15px 0 0;
}

#rolo3  {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

.title {
    display: none;
}


/*--------------------------------------------------------------------------*/
/* Jenns Page */ 

.centered-content-jenn {
  font-size: 20px;
  margin: 15%;
  margin-top: 100px;
  margin-bottom: 25px;
}

#Jenn1 {
float: left;    
 margin: 0 15px 0 0;
}

#Jenn2 {
  float: right;
  margin: 0 0 0 15px;
}

#Jenn3  {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

.title {
    display: none;
}


/*--------------------------------------------------------------------------*/
/* News Page */

.news h1 {
    margin-top: 50px;
}

.image-container {
    display: flex;              /* Enable flexbox layout */
    justify-content: center;     /* Center the images horizontally */
    align-items: center;         /* Center the images vertically (if necessary) */
    gap: 20px;                   /* Optional: adds space between the images */
}

.image-container img {
    max-width: 35%;              /* Adjust the width of each image */
    height: auto;                /* Maintain the aspect ratio of the images */
    margin-bottom: 100px;
}

#news {
  display: block;
 margin: 0 auto;
 max-width: 100%;
 margin-bottom: 100px;
}

.news-header {
    background-color: #f0f8ff; /* Light blue for a clean look */
    padding: 10px 15px;
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 15px; /* Space between articles */
    border: 1px solid #dce7f3; /* Subtle border for definition */
    font-family: Arial, sans-serif;
}

.news-date {
    font-weight: bold;
    color: #004080; /* Darker blue for contrast */
    text-align: center;
}

.news-title {
    font-size: 1.25rem; /* Larger font for titles */
    font-weight: bold;
    color: #00274d;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}



/*--------------------------------------------------------------------------*/
/* Opportunities in our lab page */


.header-opps {
    background-image: url("images/opp_header.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: flex-start;
    padding: 60px;
    position: relative;
    margin-top: 0;
}

#opp1 {
  float: left;
  margin: 0 15px 50px 0;
}

.centered-content-opplast {
  margin: 15%;
  margin-top: 150px;
  margin-bottom: 25px;
  clear: both;
}

.image-container-opps {
    display: flex;              /* Enable flexbox layout */
    justify-content: center;     /* Center the images horizontally */
    align-items: center;         /* Center the images vertically (if necessary) */
    gap: 15px;                   /* Optional: adds space between the images */
    margin: 0;
    margin-bottom: 50px;
}

/*--------------------------------------------------------------------------*/
/* Contact Us page */


.contact-header {
    background-image: url("images/contact_us_header.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
    text-align: center;
    position: relative;
    margin-top: 0;
}

.contact-text h1{
  font-size: 5em;
  margin: 0;
}

.centered-content-contact {
  margin: 15%;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18pt;
}

.centered-content-contact h2, {
  font-size: 30pt;
}

.centered-content-contact h4 {
  font-size: 18pt;
}



.contact-footer {
  background-image: url("images/contact_footer.jpg");
  background-size: cover;
  background-position: top;
  height: 60vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color on top of the image */
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
}